
body{
    background-color: lightgrey;
}
h1{
    font-size: 30px;
    font-weight: bolder;
    width: auto ;
    background-color: grey;
    text-align: center;
}
.divider1{
    float: left;
    background-color: white;
}
.divider2{
    float: left;
    margin-left: 90px;
}
.forecast{
    border-color: indigo;
    margin-top: 60px;
    background-color: white;
}
.today{
    background-color: white;

}